// Set your brand colors

$beige-light: #D0D1CD;
$beige-lighter: #F8EDE3;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
$grey-dark: #334756 ;
$primary: #BCCC9A;
$danger : #C37B89;
$warning : #ECAC5D;
$success : #BCCC9A;
$Info : #D1E8E4;
$link: #39A388;


$grey-light: $beige-light;


$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #F3F1F5;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// table
$table-background-color: transparent;
$table-striped-row-even-background-color: lighten($primary, 25%);
// highligth color
$table--highlight-color: darken($primary, 20%);
